body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Sedgwick Ave Display", cursive, Impact, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
  margin-left: 5px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}

h4,
h5,
h6,
p {
  font-family: "Montserrat", sans-serif;
}

b {
  font-weight: bold;
}

.dark-mode {
  background-color: #161616;
  color: white;
}

.title-header {
  text-align: center;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ProductCard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  width: 21vw;
  /* border: 1.5px solid; */
  border-radius: 5%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.product-card-link {
  /* font-family: "Montserrat", sans-serif; */
  text-decoration: none;
  color: black;
}

.ProductCard img {
  height: 25vh;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.ProductDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 76vh;
}

.product-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.product-image img {
  max-width: 100%;
  height: auto;
}

.product-info {
  flex: 1;
  padding: 20px;
  text-align: left;
}

.ProductDetails img {
  height: 45vh;
  border-radius: 10%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.new-releases-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.top-sellers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.heart-icon {
  background-color: white;
  border: none;
  border-radius: 50%;
  color: rgb(130, 130, 130);
}

.heart-icon:hover {
  color: red;
}

.CartDetailsContainer {
  
  margin-left: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container button {
  margin: 5px 0;
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #860000;
}

/* .CartDetails {
 margin-left: 10px;
} */

.CartDetails img {
  height: 15vh;
}

/* Navbar */

.navbar-home {
  font-family: "Sedgwick Ave Display", cursive;
  color: red;
  font-size: 2em;
  text-decoration: none;
}

.navbar button {
  margin-right: 10px;
}

.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 100; /* Add z-index to ensure the Navbar is above other content */
}

.navbar a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar-right {
  display: flex;
  justify-content: space-between;
}


/* Footer */
footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

/* Edit Profile Page / Form */
.form-title {
  font-size: 3em;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.user-form {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-submit {
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 5px;
}

.form-submit:hover {
  background-color: #860000;
}

.form-submit-delete {
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 5%;
  width: 10%;
}

.form-submit-delete:hover {
  background-color: #860000;
}

.error-message {
  background: #860000;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 20%;
  text-align: center;
}

.delete-button {
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #860000;
}

.button-space {
  margin: 10px;
}

/* Profile Page */
.user-profile {
  text-align: center;
  padding: 20px;
}

.user-section {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}

.welcome {
  margin-top: 10px;
}

.profile-img {
  height: 25vh;
  border-radius: 50%;
}

.edit-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #860000;
}

.shipping-address {
  text-align: left;
  
}

.wishlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.empty-wishlist {
  margin-top: 20px;
}

/* Carousel */

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #898989;
  border-radius: 50%;
  left: 0;
  right: 0;
  height: 10%;
  width: 30%;
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
  color: #fff;
}

/* Search Bar */
.SearchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.SearchInput {
  padding: 5px;
  margin: 0;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  flex: 1;
}

.SearchButton {
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.SearchButton:hover {
  background-color: #860000;
}

.remove-cart-button {
  background-color: #ff0000;
  color: #fff;
  padding: 2.5px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.remove-cart-button:hover {
  background-color: #860000;
}

.add-sneaker-button {
  text-align: center;
  background-color: #ff0000;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-sneaker-button:hover {
  background-color: #860000;
}

.product-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-title {
  text-align: center;
}

.home-title h1 {
  font-size: 5em;
}

.back-button {
  background-color: #ff0000;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}

.back-button:hover {
  background-color: #860000;
}

.edit-account-container {
  height: 75vh;
}

.SuccessPage {
  height: 82vh;
}

.remove-wishlist-button {
  background: none;
  background-color: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 10%;
}

.AddProductPage {
  height: 75vh;
}

.LoginPage {
  height: 75vh;
}

.SignupPage {
  height: 75vh;
}

.EditProductPage {
  display: flex;
  flex-direction: column;
  height: 75vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.delete-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.spinner {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}